<main class="container">

    <div class="alert alert-success" *ngIf="success">Opération effetuée avec succès</div>

    <h1>Liste des patients</h1>

    <button id="addbtn" class="btn btn-primary" [routerLink]="['addedit' , 0 ]">Ajouter une réservation</button>

    <div class="form-line mb-4">
        <label class="form-label">Recherche : </label>
        <input type="text" id="search_input" name="search" placeholder="nom/prenom du patient" (click)="search()"
        [(ngModel)]="searchVar">
    </div>

    <div id="no-items-message" class="alert alert-success" *ngIf="resas == undefined || resas.length == 0">Aucune réservation trouvée</div>

    <table id="patientstable" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du client</th>
                <th>Nom de l'hotel</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Numéro de chambre</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let resa of resas" class="patient">
                <td>{{resa.id}}</td>
                <td>{{resa.client?.nomComplet}}</td>
                <td>{{resa.hotel?.nom}}</td>
                <td>{{resa.datedeb}}</td>
                <td>{{resa.datefin}}</td>
                <td>{{resa.numChamber}}</td>
                <td>
                    <button class="btn btn-secondary btn-sm" [routerLink]="['addedit' , resa?.id ]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="delete( resa?.id)"><i class="fa fa-trash-o"
                            aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

</main>