<main class="container">

    <div class="alert alert-success" *ngIf="success">Opération effetuée avec succès</div>

    <h1>Liste des réservation</h1>

    <button id="addbtn" class="btn btn-primary" [routerLink]="['addedit' , 0 ]">Ajouter une réservation</button>

    <form method="get" (submit)="loadAllResa()" id="searchForm">
        <div class="row my-4">
            <div class="col-4">
                <select name="client" id="client" class="form-select" [(ngModel)]="clientRecherche">
                    <option value="0">Sélectionner un client</option>
                    <option *ngFor="let client of clients" [ngValue]="client.id">
                        {{client.nomComplet}}
                    </option>
                </select>
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </form>

    <div id="no-items-message" class="alert alert-success" *ngIf="resas == undefined || resas.length == 0">Aucune
        réservation trouvée</div>

    <table id="patientstable" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du client</th>
                <th>Nom de l'hotel</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Numéro de chambre</th>
                <th>Bon de réservation</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let resa of resas" class="patient">
                <td>{{resa.id}}</td>
                <td>{{resa.client?.nomComplet}}</td>
                <td>{{resa.hotel?.nom}}</td>
                <td>{{resa.datedeb}}</td>
                <td>{{resa.datefin}}</td>
                <td>{{resa.numChambre}}</td>
                <td><button class="btn btn-primary btn-sm" [routerLink]="['bon' , resa?.id ]">Bon</button></td>
                <td>
                    <button class="btn btn-secondary btn-sm" [routerLink]="['addedit' , resa?.id ]"><i
                            class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="delete( resa?.id)"><i class="fas fa-trash"
                            aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

</main>