<main class="container">

    <div class="alert alert-success" *ngIf="success">Opération effetuée avec succès</div>
    <div class="alert alert-danger" *ngIf="errorMessage.length > 0">
        {{errorMessage}}
    </div>

    <h1>Liste des clients</h1>

    <button id="addbtn" class="btn btn-primary" [routerLink]="['addedit' , 0 ]">Ajouter un client</button>

    <div id="no-items-message" class="alert alert-success" *ngIf="clients?.length == 0">Aucun client trouvée</div>

    <div class="container">
        <div class="row">
            <div *ngFor="let client of clients" class="col-4 mb-3 my-4">
                <ng-container *ngTemplateOutlet="cart_template; context: {$implicit : client}"></ng-container>
                <!-- <ng-container *ngTemplateOutlet="cart_template; context: {item : patient, rdvsitem  : rdvsPatient}"></ng-container> -->
            </div>
        </div>
    </div>
</main>

<ng-template #cart_template let-client>
    <!-- <ng-template #cart_template let-patient="item"> -->
    <!-- <ng-template #cart_template let-patient="item" let-rdvs="rdvsitem"> -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="mr-auto p-2">
                    <h5 class="card-title">{{client.nomComplet}}</h5>
                </div>
                <div class="ml-auto p-2">
                    <button class="btn btn-secondary btn-sm" [routerLink]="['addedit' , client.id ]"><i
                            class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="delete(client.id)"><i class="fas fa-trash"
                            aria-hidden="true"></i></button>
                </div>
            </div>
            <hr>
            <div class="card-text mt-3">
                <h2 class="h5">Infos du client</h2>
                <p>
                    <b>Email </b> : {{client.email}}<br>
                    <b>Tél </b> : {{client.telephone}}<br>
                </p>

                <h2 class="h5">Adresse</h2>
                <p>{{client.adresse }}</p>
                <!-- <p *ngFor="let rdv of rdvs[patient.id]">Rdv: {{rdv.dateheure | date:'dd/MM/yyyy HH:mm'}}</p> -->

            </div>
        </div>
    </div>
</ng-template>