<main class="container">

    <div class="alert alert-success" *ngIf="success">Opération effetuée avec succès</div>
    <div class="alert alert-danger" *ngIf="errorMessage.length > 0">
        {{errorMessage}}
    </div>

    <h1>Liste des hotels</h1>

    <button id="addbtn" class="btn btn-primary" (click)="resetForm()" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop">Ajouter un hotel</button>

    <div id="no-items-message" class="alert alert-success" *ngIf="hotels?.length == 0">Aucun hotel trouvé</div>

    <div class="container">
        <div class="row">
            <div *ngFor="let hotel of hotels" class="col-4 mb-3 my-4">
                <ng-container *ngTemplateOutlet="cart_template; context: {$implicit : hotel}"></ng-container>
                <!-- <ng-container *ngTemplateOutlet="cart_template; context: {item : patient, rdvsitem  : rdvsPatient}"></ng-container> -->
            </div>
        </div>
    </div>
</main>

<ng-template #cart_template let-hotel>
    <!-- <ng-template #cart_template let-patient="item"> -->
    <!-- <ng-template #cart_template let-patient="item" let-rdvs="rdvsitem"> -->
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <div class="mr-auto p-2">
                    <div>
                        <span *ngFor="let a of arrayStars; let iteration = index;">
                            <i *ngIf="iteration < hotel.etoiles" class="fas fa-star" style="color: blue;"
                                aria-hidden="true"></i>
                            <i *ngIf="iteration >= hotel.etoiles" class="fas fa-star"
                                style="color: rgba(139, 139, 139, 0.904);" aria-hidden="true"></i>
                        </span>
                    </div>
                    <h5 class="card-title">{{hotel.nom}}<i class="fa-solid fa-square-star"></i></h5>
                </div>
                <div class="ml-auto p-2 align-self-center">
                    <button class="btn btn-secondary btn-sm" (click)="loadById(hotel.id)" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"><i class="fas fa-pencil-square-o"
                            aria-hidden="true"></i></button>
                    <button class="btn btn-danger btn-sm align-middle" (click)="delete(hotel.id)"><i class="fas fa-trash"
                            aria-hidden="true"></i></button>
                </div>
            </div>
            <hr>
            <div class="card-text mt-3">
                <h2 class="h5">Infos de l'hotel</h2>
                <p>
                    <b>Email </b> : {{hotel.email}}<br>
                    <b>Tél </b> : {{hotel.telephone}}<br>
                </p>

                <h2 class="h5">Adresse</h2>
                <p>{{hotel.adresse }} - {{hotel.ville}}</p>
                <!-- <p *ngFor="let rdv of rdvs[patient.id]">Rdv: {{rdv.dateheure | date:'dd/MM/yyyy HH:mm'}}</p> -->
                <button class="btn btn-primary btn-sm" [routerLink]="['image' , hotel?.id ]">Liste des images</button>
                
            </div>
        </div>
    </div>
</ng-template>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" *ngIf="hotelForm.controls['id'].value == ''">
                    Ajouter un hotel</h5>
                <h5 class="modal-title" id="staticBackdropLabel" *ngIf="hotelForm.controls['id'].value != ''">
                    Editer un hotel</h5>
                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form [formGroup]="hotelForm" (submit)="submit()">
                <div class="modal-body">
                    <div class="alert alert-danger" *ngIf="errorMessage.length > 0">
                        {{errorMessage}}
                    </div>
                    <div class="form-line mb-4">
                        <label class="form-label">Nom *</label>
                        <input class="form-control" type="text" name="nom" placeholder="Nom de l'hotel" required
                            formControlName="nom">
                    </div>
                    <div class="form-line mb-4">
                        <label>étoiles *</label>
                        <input class="form-control" type="number" name="etoiles"
                            placeholder="Nombre d'étoiles de l'hotel" required formControlName="etoiles" min="1" max="5">
                    </div>

                    <div class="form-line mb-4">
                        <label class="form-label">Adresse *</label>
                        <input class="form-control" type="text" name="adresse" placeholder="Adresse de l'hotel" required
                            formControlName="adresse">
                    </div>

                    <div class="form-line mb-4">
                        <label class="form-label">Téléphone *</label>
                        <input class="form-control" type="tel" name="telephone" placeholder="Téléphone de l'hotel"
                            required formControlName="telephone">
                    </div>

                    <div class="form-line mb-4">
                        <label class="form-label">Email *</label>
                        <input class="form-control" type="email" name="email" placeholder="Email de l'hotel" required
                            formControlName="email">
                    </div>

                    <div class="form-line mb-4">
                        <label class="form-label">Ville *</label>
                        <input class="form-control" type="text" name="ville" placeholder="Ville de l'hotel"
                            formControlName="ville">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!hotelForm.valid">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>