<form [formGroup]="clientForm" (submit)="submit()" class="container">

    <h5 class="modal-title" id="exampleModalLabel" *ngIf="clientForm.controls['id'].value == undefined">Ajouter un
        client
    </h5>
    <h5 class="modal-title" id="exampleModalLabel" *ngIf="clientForm.controls['id'].value != undefined">Editer un client
    </h5>

    <div class="alert alert-danger" *ngIf="errorMessage.length > 0">
        {{errorMessage}}
    </div>

    <input type="hidden" formControlName="id">

    <div class="mb-3">
        <label for="nom" class="form-label">Nom complet *</label>
        <input type="text" class="form-control" id="nomComplet" name="nomComplet" formControlName="nomComplet"
            placeholder="Nom complet" minlength="2" required>
    </div>

    <div class="mb-3">
        <label for="cp" class="form-label">Téléphone *</label>
        <input type="text" formControlName="telephone" class="form-control" id="telephone" name="telephone"
            placeholder="Téléphone" minlength="2" required>
    </div>

    <div class="mb-3">
        <label for="cp" class="form-label">Email *</label>
        <input type="text" formControlName="email" class="form-control" id="email" name="email"
            placeholder="exampl@exampl.com" minlength="2" required>
    </div>

    <div class="mb-3">
        <label for="cp" class="form-label">Adresse *</label>
        <input type="text" formControlName="adresse" class="form-control" id="adresse" name="adresse"
            placeholder="Téléphone" minlength="2" required>
    </div>

    <div class="d-flex">
        <button type="submit" class="btn btn-primary" [disabled]="!clientForm.valid">Valider</button>
        <button type="button" *ngIf="clientForm.controls['id']?.value == ''" (click)="resetForm()"
            class="btn btn-danger float-end">Annuler</button>
        <button type="button" *ngIf="clientForm.controls['id']?.value != ''" (click)="goBack()"
            class="btn btn-danger float-end">Annuler</button>
    </div>
</form>