<form [formGroup]="resaForm" (submit)="submit()" class="container">

    {{resaForm.value | json}}

    <h5 class="modal-title" id="exampleModalLabel" *ngIf="resaForm.controls['id']?.value == ''">Ajouter une réservation
    </h5>
    <h5 class="modal-title" id="exampleModalLabel" *ngIf="resaForm.controls['id']?.value != ''">Editer une réservation
    </h5>

    <div class="alert alert-danger" *ngIf="errorMessage.length > 0">
        {{errorMessage}}
    </div>

    <input type="hidden" formControlName="id">

    <div class="form-line mb-4">
        <label class="form-label">Date de début *</label>
        <input class="form-control" type="date" name="datedeb" placeholder="dd/mm/yyyy" required
            formControlName="datedeb">
    </div>
    <div [hidden]="resaForm.controls['datedeb']?.pristine || resaForm.controls['datedeb']?.valid"
        class="text-danger small">
        La date heure est obligatoire
    </div>
    <div class="form-line mb-4">
        <label class="form-label">Date de fin *</label>
        <input class="form-control" type="date" name="datefin" placeholder="dd/mm/yyyy" required
            formControlName="datefin">
    </div>
    <div [hidden]="resaForm.controls['datefin']?.pristine || resaForm.controls['datefin']?.valid"
        class="text-danger small">
        La date heure est obligatoire
    </div>

    <div class="mb-3">
        <label for="cp" class="form-label">Numéro de la chambre *</label>
        <input type="number" formControlName="numChambre" class="form-control" id="numChambre" name="numChambre"
            placeholder="Numéro de la chambre" minlength="2" required>
    </div>
    <div [hidden]="resaForm.controls['numChambre']?.pristine || resaForm.controls['numChambre']?.valid"
        class="text-danger small">
        La date heure est obligatoire
    </div>

    <div class="mb-3">
        <label for="client" class="form-label">Client *</label>
        <select name="client" id="client" formControlName="client" required class="form-select"
            [compareWith]="compareClient">
            <option value="null" disabled>Sélectionner un client</option>
            <option *ngFor="let client of clients" [ngValue]="client">
                {{client.nomComplet}}
            </option>
        </select>
    <div [hidden]="resaForm.controls['client']?.pristine || resaForm.controls['client']?.valid" class="text-danger small">
        La date heure est obligatoire
    </div>
    </div>

    <div class="mb-3">
        <label for="hotel" class="form-label">Hotel *</label>
        <select name="hotel" id="hotel" formControlName="hotel" required class="form-select"
            [compareWith]="compareHotel">
            <option [ngValue]="null" disabled>Sélectionner un hotel</option>
            <option *ngFor="let hotel of hotels" [ngValue]="hotel">
                {{hotel.nom}}
            </option>
        </select>
        <div [hidden]="resaForm.controls['hotel']?.pristine || resaForm.controls['hotel']?.valid" class="text-danger small">
            La date heure est obligatoire
        </div>
    </div>

    <div class="d-flex">
        <button type="submit" class="btn btn-primary" [disabled]="!resaForm.valid">Valider</button>
        <button type="button" *ngIf="resaForm.controls['id']?.value == ''" (click)="resetForm()"
            class="btn btn-danger float-end">Annuler</button>
        <button type="button" *ngIf="resaForm.controls['id']?.value != ''" (click)="goBack()"
            class="btn btn-danger float-end">Annuler</button>
    </div>
</form>